# Systemd unit file for frontend
[Unit]
Description=GeG connettore frontend
After=syslog.target network.target mariadb.service

[Service]
#Type=forking

ExecStart=npm run start
ExecStop=/bin/kill -15 $MAINPID
WorkingDirectory=/home/stefano_bane/gg-teamwear/webapp

# Output to syslog
StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=webapp

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target

